*{
    font-family: 'Times New Roman';
}
body {
    background-color: #0f0f0f; 
        color: #ffffff;
        text-align: center; 
        background-image: url("../Image/BackGround.gif"); 
        background-repeat: 1;
        background-size: cover;
        background-color: #000000;
        margin: 0;
        padding: 0;
}
h2{ 
  font-size: 4vw;
}
img{
  width: 25vw; 
  height: 25vh; 
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50px;
}
h3{
  font-size: 2vw;
  background-color: #344c5a;
}
.c {
    max-width: cover;
    width: cover;
  }
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(1, 127, 253, 0.15);
    position: fixed;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: #344c5a;
  }
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 120px;
background-color: #0f0f0f;    
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #030303;
  }
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
section {
    margin: 20px;
}
img {
 width: 400px;   height: 400px;
}
.project {
    margin-bottom: 20px;
}
a{
  color: #111
}
.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.photo img{
  width: 300px;
  height: 480px;
  object-fit: cover;
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}
.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}
.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}
.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}
h1{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1.2;
  color: #ffffff;
  font-size:50px;
  border-radius: 20px;
  background-color: #111;
}
#author{
  font-family: Helvetica, Arial;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: #111;
}
#author:hover{
  color: #111;
}
.center-skills {
  align-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.ski {
  width: 50%;
  background-color: #ddd;
  margin-left: auto;
  margin-right: auto;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(170, 170, 170);
}
.java{width: 50%; background-color: #5680f3;}
.html {width: 70%; background-color: #aa0404;}
.css {width: 30%; background-color: #f321e2;}
.video {width: 70%; background-color: #f44336;}

@media screen and (max-width: 768px) {
  img {
    width: 70vw;
    height: 40vh;
}
h1{
  font-size: 45px;
}
h2{
  font-size: 40px;
}
h3 {
    font-size: 4.5vw;
}
p{
  font-size: 25px;
  background-color: #344c5a;
  border-radius: 25px;
}
}